@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-white: #fff;
  --color-white-transparent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

  --block-width: 1440px;
  --block-height: 914px;
}

html,
body,
div,
header,
section,
footer,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font: normal 16px/1.6 "Open Sans", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
}

a.btn {
  display: inline-block;
  font: bold 16px/1.6 "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 11px 24px;
  background-color: var(--color-main);
  color: var(--color-white);
}

.content {
  width: 1110px;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  width: var(--block-width);
  height: var(--block-height);
}

.text-center {
  text-align: center;
  padding: 0 auto;
}

/* ----------------- HEADER -----------------*/

.background-cover {
  width: 100%;
  height: auto;
  padding-top: 100px;

  position: relative;
}

.background-cover::before {
  content: "";

  position: absolute;
  width: 1440px;
  height: 914px;
  top: 0;
  left: 0;

  background-color: var(--color-light);
  background-image: url('../assets/img/image 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: -10;
}

.header__title_and_img {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.header__title_and_img img {
  position: absolute;
  top: 4px;
  left: 337px;
  z-index: -10;

  width: 952px;
  height: 444px;
}

.header__title_and_img h1 > span {
  color: var(--color-main);
}

.header__text {
  margin-top: 202px;
  column-count: 2;
  column-gap: 30px;
}

.header__text > p:first-child {
  margin-top: 0;
}

.text_and_button > p:first-child {
  margin-bottom: 13px;
}

.text_and_button > a {
  margin-top: 40px;
}

.text_and_button {
  break-inside: avoid;
}

/* --------------- what-are-mistakes ------------- */
.what-are-mistakes {
  box-sizing: border-box;
  display: block;
  background-color: var(--color-white);
  text-align: center;
  padding-top: 100px;
  z-index: -20;
  height: calc(var(--block-height) - 96px);
}

.what-are-mistakes h2 > span {
  color: var(--color-main);
}

.what-are-mistakes p {
  margin-top: 27px;
  line-height: 36px;
}

.what-are-mistakes iframe {
  margin-top: 26px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 10;
}

/* ------------ 5 искажений ----------- */
.five-mistakes {
  background-color: var(--color-main-dark);
  height: 991px;
  width: 100%;
  position: absolute;
  top: calc(var(--block-height) - 96px);
  left: 0;
  z-index: -10;
  padding-top: 200px;
}

.five-mistakes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: 350px;
  min-height: 323px;
  max-height: 348px;
  margin-bottom: 20px;
  background-color: var(--color-light);
  padding: 24px;
}

.flex-item:first-child {
  background-color: transparent;
  padding: 0;
  padding-top: 0px;
}

.five-mistakes li:first-child > h2 {
  font: normal 52px/1.2 "Neucha", sans-serif;
  color: var(--color-white);
}

.five-mistakes li:first-child > h2 > span {
  color: var(--color-main);
}

.five-mistakes li > h2 {
  color: var(--color-main-dark);
}

.five-mistakes li > h3 {
  font-size: 34px;
  line-height: 1.2;
  color: var(--color-main);
  margin-top: 40px;
}

.five-mistakes li > p {
  margin-top: 12px;
  font-size: 16px;
}

li.flex-item > h2 {
  font-size: 64px;
  line-height: 71px;
}