@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');

:root {
  --color-white: #fff;
  --color-white-transparent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-transparent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  font: normal 16px/1.6em "Open Sans", sans-serif;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 100px auto;
}

/* ----------------- HEADER -----------------*/
.header__title_and_img h1 > span {
  color: var(--color-main);
}